In [18]:
#from google.colab import drive
#drive.mount('/content/gdrive')

In [32]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
train=pd.read_csv(r"C:\Users\Ananth\Downloads\archive\train.csv")
test=pd.read_csv(r"C:\Users\Ananth\Downloads\archive\test.csv")

In [34]:
train.describe()

       Internal_rating  Success_probability
count      7007.000000          7007.000000
mean          3.009562            64.745133
std           1.418666            17.931635
min           1.000000            -5.000000
25%           2.000000            60.600000
50%           3.000000            65.300000
75%           4.000000            69.600000
max           5.000000           107.340000

In [44]:
train.head()

,Deal_title,Lead_name,Industry,Deal_value,Weighted_amount,Date_of_creation,Pitch,Contact_no,Lead_revenue,Fund_category,...,Designation,Lead_POC_email,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Internal_POC,Resource,Internal_rating,Success_probability
0,TitleM5DZY,"Davis, Perkins and Bishop Inc",Restaurants,320506$,2067263.7$,2020-03-29,Product_2,607.447.7883,50 - 100 Million,Category 2,...,Executive Vice President,charlenewerner@davis.com,Community pharmacist,Website,Level 3,No track,"Davis,Sharrice A",NaN,3,73.6
1,TitleKIW18,Bender PLC LLC,Construction Services,39488$,240876.8$,2019-07-10,Product_2,892-938-9493,500 Million - 1 Billion,Category 4,...,Chairman/CEO/President,terrylogan@bender.com,Recruitment consultant,Others,Level 1,Did not hear back after Level 1,"Brown,Maxine A",No,5,58.9
2,TitleFXSDN,Carter-Henry and Sons,Hospitals/Clinics,359392$,2407926.4$,2019-07-27,Product_1,538.748.2271,500 Million - 1 Billion,Category 4,...,SVP/General Counsel,arielhamilton@carterhenry.com,Health service manager,Marketing Event,Level 1,?,"Georgakopoulos,Vasilios T",No,4,68.8
3,TitlePSK4Y,Garcia Ltd Ltd,Real Estate,76774$,468321.4$,2021-01-30,Product_2,(692)052-1389x75188,500 Million - 1 Billion,Category 3,...,CEO/Co-Founder/Chairman,erinwilson@garcia.com,"Therapist, speech and language",Contact Email,Level 2,Did not hear back after Level 1,"Brown,Maxine A",We have all the requirements,1,64.5
4,Title904GV,Lee and Sons PLC,Financial Services,483896$,NaN,2019-05-22,Product_2,001-878-814-6134x015,50 - 100 Million,Category 3,...,Executive Vice President,mr.christopher@lee.com,Media planner,Website,Level 2,Up-to-date,"Thomas,Lori E",No,4,62.4

In [49]:
train2=train.drop(['Date_of_creation','Contact_no','Location','POC_name','Lead_POC_email','Internal_POC','Deal_title','Lead_name'],axis=1)
train2.head()

,Industry,Deal_value,Weighted_amount,Pitch,Lead_revenue,Fund_category,Geography,Designation,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Resource,Internal_rating,Success_probability
0,Restaurants,320506$,2067263.7$,Product_2,50 - 100 Million,Category 2,USA,Executive Vice President,Community pharmacist,Website,Level 3,No track,NaN,3,73.6
1,Construction Services,39488$,240876.8$,Product_2,500 Million - 1 Billion,Category 4,India,Chairman/CEO/President,Recruitment consultant,Others,Level 1,Did not hear back after Level 1,No,5,58.9
2,Hospitals/Clinics,359392$,2407926.4$,Product_1,500 Million - 1 Billion,Category 4,USA,SVP/General Counsel,Health service manager,Marketing Event,Level 1,?,No,4,68.8
3,Real Estate,76774$,468321.4$,Product_2,500 Million - 1 Billion,Category 3,USA,CEO/Co-Founder/Chairman,"Therapist, speech and language",Contact Email,Level 2,Did not hear back after Level 1,We have all the requirements,1,64.5
4,Financial Services,483896$,NaN,Product_2,50 - 100 Million,Category 3,India,Executive Vice President,Media planner,Website,Level 2,Up-to-date,No,4,62.4

In [50]:
train2.isnull().sum()

Industry                   1
Deal_value                51
Weighted_amount          525
Pitch                      0
Lead_revenue               0
Fund_category              0
Geography                972
Designation                0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         633
Resource                 149
Internal_rating            0
Success_probability        0
dtype: int64

HANDLING OF NULL VALUES
INDUSTRY,DEALVALUE,RESOURCE-REMOVE
WEIGHTED-AMOUNT AND last lead update('no track') - ??

In [52]:
train2['Designation'].value_counts()
train2['Designation'] = train2['Designation'].replace({'Chairman/CEO/President':'Chairman/CEO/President',
                                              'CEO/Chairman/President':'Chairman/CEO/President',
                                              'Chief Executive Officer':'CEO',
                                              'Vice President / GM (04-present) : VP Sales and Marketing (01-04)':'Vice President/GM'})

In [53]:
l=['Industry','Pitch','Lead_revenue','Fund_category','Geography','Designation','Hiring_candidate_role','Lead_source','Last_lead_update','Resource','Level_of_meeting','Internal_rating']
for i in l:
    train2[i]=LabelEncoder().fit_transform(train2[i])
train2.head(15)

,Industry,Deal_value,Weighted_amount,Pitch,Lead_revenue,Fund_category,Geography,Designation,Hiring_candidate_role,Lead_source,Level_of_meeting,Last_lead_update,Resource,Internal_rating,Success_probability
0,119,320506$,2067263.7$,1,1,1,1,5,126,3,2,7,6,3,73.60
1,31,39488$,240876.8$,1,2,3,0,3,501,2,0,3,2,5,58.90
2,56,359392$,2407926.4$,0,2,3,1,6,286,1,0,2,2,4,68.80
3,114,76774$,468321.4$,1,2,2,1,1,611,0,1,3,4,1,64.50
4,46,483896$,NaN,1,1,2,0,5,369,3,1,9,2,4,62.40
5,17,418674$,2637646.2$,0,1,1,0,1,381,1,2,0,1,3,66.30
6,17,384356$,2709709.8$,1,2,0,2,1,81,0,2,5,6,4,73.40
7,9,245205$,1642873.5$,1,2,0,1,7,212,2,1,1,2,5,74.10
8,37,343280$,1991024.0$,0,0,2,1,4,458,0,0,7,4,2,61.40
9,111,293611$,1791027.1$,0,2,2,1,0,223,0,0,10,1,4,66.00
10,54,311125$,1851193.75$,0,2,1,2,1,305,3,0,4,0,2,67.90
11,57,7819$,45741.15$,0,1,0,1,3,526,2,1,9,3,1,63.90
12,21,222331$,1400685.3$,1,0,1,1,7,556,1,0,11,0,5,71.50
13,17,487351$,NaN,0,2,2,2,4,300,1,2,6,4,2,26.35
14,133,88552$,562305.2$,1,0,3,0,3,482,3,0,8,4,3,60.70